*{
  font-family: 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

header{
 height: 80px;
 line-height: 80px;
 display: flex;
 justify-content: space-between;
 padding: 0 180px;
 position: fixed;
 width: 100vw;
 background-color: rgba(255, 255, 255, 0.8);
}

header p{
 font-size: 24px;
 font-weight: bold;
}

header ul{
 display: flex;
 width: 600px;
 justify-content: space-between;
}

header a{
  font-size: 16px;
  font-weight: bold;  
}

.firstView h1{
  font-size:64px;  
  text-align:left; 
  padding-top: 320px;
  padding-left: 200px;
  color: rgb(110, 68, 149);
}

.firstView p{
  font-size:14px;   
  text-align:left;
  padding-left: 300px; 
}

.firstView{
  background-image: url(images/my\ photo.jpg);
  background-size: cover;
  height: 800px;
}

.about{
  padding:180px;
}

.profile h2{
  font-size: 64px; 
  letter-spacing: 0.1em; 
}

.profile h3{
  font-size: 24px; 
  margin-top: 72px; 
}

.profile h4{
  font-size: 20px; 
  margin-top: 30px; 
}

.profile p{
  font-size: 16px;
  margin-top: 10px;
}

.profile img{
  width: 315px;
  height: 400px;
  margin-left: 100px;
}

.profile .profile-text{
  width: 500px;
  float: left;
}

.clearfix{
  clear: both;
}

.school-club{
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}

.school-club img{
  width: 480px;
  height: 270px;
  border-radius: 16px;
}

.school-club h3{
  margin-top: 8px;
}

.school-club p{
  margin-top: 16px;
}

.school-club a{
  display: inline-block;
  border-bottom: 1px solid;
  margin-top: 32px;
}

.favorite h2{
  font-size: 64px;
  color: #736670;
  letter-spacing: 0.1em; 
  border-bottom: 3px solid #736670;
  display: inline-block;
}

.favorite{
  text-align: center;
  padding: 180px 180px 240px 180px; 
  background-image:url(images/musium.png) ;
  background-size: cover;  
}

.favorite-content h3{
  font-size: 22px;
  margin-top: 16px;
}

.favorite-content p{
  font-size: 16px; 
  text-align: left; 
  margin-top: 32px;
}

.favorite-content img{
  width: 200px;
  height: 200px;
  border-radius: 50%;  
}

.favorite-content{
  width: 320px;
  padding: 40px; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
}

.favorite-contents {
  margin-top: 80px;
  display: flex;
  justify-content: space-between; 
}

.works h2{
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.1em; 
  border-bottom: 3px solid #f90;
  display: inline-block; 
}

.works{
  padding: 180px;
  text-align: center;
  background-color: #fffdf3;  
}

.works-content{
  display: flex;
  background-color: #fff;
  margin-top: 40px;
  padding: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  text-align: left;

}

.works-content img{
  width: 320px;
  height: 180px;  
}

.works-content h3{
  font-size: 28px;  
}

.works-content p{
  font-size: 16px;
  margin-top: 16px;  
}

.works-content span{
  font-size: 16px;
  margin-left: 16px;  
}

.works-content .words-text{
  margin-left: 32px;  
}

.contact{
  padding: 180px 370px;
  text-align: center;
}
.contact h2{
  font-size: 64px;
 letter-spacing: 0.1em;   
 border-bottom: 3px solid #f90;
 display: inline-block;
}

.contact p{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 200%;
  margin-top: 48px;
  text-align: left;
}

.contact a{
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
  width: 200px;
  line-height: 80px;
  display: inline-block;
  border-radius: 16px;
}

.contact .sns-twitter{
  background-color: #00acee;
}

.contact .sns-facebook{
  background-color: #3b5998;
}

.contact .sns-instagram{
  background-color: #cf2e92;
}

.contact .sns{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

footer{
  height: 80px;
  background-color: #edecd7;
  line-height: 80px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
}